.app-container {
  display: flex;
  justify-content: space-around;
  > .squad-container {
    width: 30%;
    .squad-group {
      margin-bottom: 10px;
    }
    .player-container {
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px;
    }
    .bench-container {
      margin-top: 40px;
    }
    .substitute-button {
      float: right;
      border: 1px solid grey;
      border-radius: 5px;
      width: 10px;
      &.selected {
        background-color: yellow;
      }
    }
  }
}